.special {
  position: relative;
  width: 1515px;
  height: 1074px;
  border: 1px solid #fff;
  cursor: url("/img/cursor1.png"), auto;

  h2 {
    margin-top: 140px;
    margin-left: 950px;
    color: #172432;
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .line2 {
    margin-left: 950px;
  }
  p {
    margin-top: 32px;
    margin-left: 850px;
    color: #767e86;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .left_btn_2 {
    position: absolute;
    top: 250px;
    left: 85px;
    width: 66px;
    height: 66px;
    padding: 20px 23px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 12px;
    border: none;
    background: #172432;
    cursor: url("/img/click.png"), auto;
  }
  .left_btn_2:hover {
    background: #ff7757;
  }

  .right_btn_2 {
    margin-left: 190px;
    position: absolute;
    top: 250px;
    width: 66px;
    height: 66px;
    padding: 20px 26px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 12px;
    border: none;
    background: #172432;
    cursor: url("/img/click.png"), auto;
  }
  .right_btn_2:hover {
    background: #ff7757;
  }
  .cards {
    display: flex;
    .card_lisbon {
      margin-top: 100px;
      margin-left: 170px;
      width: 498px;
      height: 629px;
      border-radius: 0px 0px 26px 26px;
      background: #fff8f1;
      h3 {
        margin-top: 40px;
        margin-left: 24px;
        color: #767e86;
        font-family: "Mulish", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .stars_5 {
        margin-top: 8px;
        margin-left: 24px;
      }
      .card_1_info {
        margin-left: 28px;
        width: 449px;
        color: #172432;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .scene {
        display: flex;
        .from {
          margin-left: 28px;
          color: #767e86;
          font-family: "Rubik", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          span {
            position: absolute;
            margin-left: 5px;
            margin-top: -13px;
            color: #ff7757;
            font-family: "Rubik", sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .details {
          margin-top: 10px;
          margin-left: 229px;
          width: 159px;
          height: 64px;
          border: none;
          background: #172432;
          border-radius: 12px;
          color: #fff;
          font-family: "Rubik", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          cursor: url("/img/click.png"), auto;
        }
        .details:hover {
          background: #ff7757;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .special {
    width: 100%;
    margin-top: 700px;
    h2 {
      color: #172432;
      font-family: Playfair Display;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 30px;
    }
    .line2 {
      width: 241px;
      margin-left: 30px;
    }
    p {
      color: #767e86;
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 30px;
    }
    .cards {
      margin-left: -140px;
      display: block;
      .card_lisbon {
        width: 300px;
        height: 720px;
        img {
          width: 300px;
          height: 280px;
          // margin-top: -100px;
        }
        h3 {
          margin-left: 5px;
          color: #767e86;
          font-family: Muli;
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .stars_5 {
          margin-left: 5px;
          width: 130px;
          height: 24px;
        }
        .card_1_info {
          margin-left: 5px;
          width: 250px;
        }
        .scene {
          margin-left: -20px;
          display: flex;
          flex-direction: column;
          .details {
          margin-left: 1px;
            margin-left: 30px;
            margin-top: 20px;
          }
        }
      }
    }
    .left_btn_2 {
      display: none;
    }
    .right_btn_2 {
      display: none;
    }
    .card_lisbon2 {
      display: none;
    }
  }
}
